 * Side
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; Behind the navbar
    padding: 0px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh);
    padding-top: 0px;
    overflow-x: hidden;
    overflow-y: auto; Scrollable contents if viewport is shorter than content.
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

 * Nav
 */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.gray5 {
    color: #adb5bd !important;
}

.f2 {
    font-size: 0.8rem;
}
.tc {
    text-align: center;
}
.ph1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.pv2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.right-075 {
    right: 0.75rem;
}

.top-075 {
    top: 0.75rem;
}
.right-025 {
    right: 0.75rem;
}

.top-025 {
    top: 0.75rem;
}
.gray4 {
    color: #ced4da;
}
.absolute {
    position: absolute;
}

.bottom-075 {
    bottom: 0.75rem;
}

.bottom-1 {
    bottom: 1rem;
}

.gray2 {
    color: #e9ecef;
}
.absolute {
    position: absolute;
}

.hover-bg-gray4:focus,
.hover-bg-gray4:hover {
    background-color: #bdbdbd;
}

.hover-gray7:focus,
.hover-gray7:hover {
    color: #495057;
}

.hover-white:focus,
.hover-white:hover {
    color: #495057;
}

.hover-yellow3:focus,
.hover-yellow3:hover {
    color: #ffe066;
}